<?xml version="1.0"?>
<job_conf>
    <plugins workers="10">
        <!-- "workers" is the number of threads for the runner's work queue.
             The default from <plugins> is used if not defined for a <plugin>.
          -->
        <plugin id="local" type="runner" load="galaxy.jobs.runners.local:LocalJobRunner"/>
    </plugins>
    <handlers default="handlers">
        <!-- Additional job handlers - the id should match the name of a
             [server:<id>] in universe_wsgi.ini.
         -->
        <handler id="handler0" tags="handlers"/>
    </handlers>
    <destinations default="local">
        <!-- Destinations define details about remote resources and how jobs
             should be executed on those remote resources.
         -->
        <destination id="local" runner="local"/>
    </destinations>
    <limits>
        <!-- Certain limits can be defined. -->
        <limit type="registered_user_concurrent_jobs">4</limit>
        <limit type="anonymous_user_concurrent_jobs">1</limit>
    </limits>
</job_conf>
