#!/bin/sh

# Set galaxy home directory
GALAXY_HOME={{ GALAXY_HOME }}
cd {{ GALAXY_HOME }}

# If there is a .venv/ directory, assume it contains a virtualenv that we
# should run this instance in.
if [ -d .venv ];
then
    . .venv/bin/activate
fi

LOG_FILE=${GALAXY_HOME}/../logs/set_user_disk_usage.log
NOW=$(date +"%Y-%m-%d %H:%M:%S")
HEADER="\n\
${NOW}\n\
==================="
echo -e "${HEADER}" >> ${LOG_FILE}
cd ${GALAXY_HOME}
python ${GALAXY_HOME}/scripts/set_user_disk_usage.py --config "{{ config_directory }}/galaxy.ini" 1>>${LOG_FILE}
