<!doctype html>
<html lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<link rel="stylesheet" href="style/base.css" type="text/css"/>
		<style type="text/css">
			#diskspace-notice,
			#instructions,
			#maintenance-notice,
			#updates {
				width: 100%;
				display: inline-block;
				vertical-align: top;
				padding-top: 0px;
			}

		</style>
		<title>Galaxy Data Analysis</title>
	</head>

	<body>
		<div class="document">
			<h1>Galaxy Data Analysis -
				<a target="_blank" href="http://www.princeton.edu/genomics">Lewis-Sigler Institute for Integrative Genomics</a>
			</h1>
			{% if env == 'development' %}
				<div class="errormessagelarge section" id="development-notice">
					<h1>DEVELOPMENT SERVER</h1>
					<h3>ALL DATA IS SUBJECT TO REMOVAL WITHOUT NOTICE!</h3>
				</div>
			{% endif %}

			<div class="donemessagelarge section" id="instructions">
				<h2>Getting Started with Galaxy</h2>

				<h3>
					<a target="_blank" href="https://galaxyproject.org/learn/">Learn Galaxy</a>
				</h3>
				<p>There are many approaches to learning how to use Galaxy. The most popular is
					probably to just dive in and use it. Galaxy is simple enough to use that you can
					do many analyses just by exploring the interface. However, you may miss much of
					the power this way.</p>

				<h3>Interactive Tours</h3>
				<p>Select any tour to get started (and remember, you can click 'End Tour' at any
					time).</p>
				<ul>
					<li>
						<a href="/tours/core.history">History Introduction</a>
						- A detailed introduction to the Galaxy History</li>
					<li>
						<a href="/tours/core.galaxy_ui">Galaxy UI</a>
						- A gentle introduction to the Galaxy User Interface</li>
					<li>
						<a href="/tours/core.scratchbook">Scratchbook</a>
						- Introduction - An introduction on how to display multiple datasets and
						visualizations next to each other.</li>
				</ul>

				<h3>Princeton Community</h3>
				<ul>
					<li>Join the
						<a target="_blank" href="https://sites.google.com/site/princetonhtseq/">Princeton HTSEQ Users Group</a>,
						discuss, present, and learn from other users in the Princeton research community</li>
					<li>Get expert advice from the
						<a target="_blank" href="http://www.princeton.edu/genomics/sequencing/">Lewis-Sigler Sequencing Core Facility</a>
					</li>
				</ul>
			</div>

			<div class="infomessagelarge section" id="updates">
				<h2>What's New</h2>

				<h3>
					<a
						target="_blank"
						href="https://docs.galaxyproject.org/en/master/releases/17.09_announce.html">Galaxy Release 17.09</a>
				</h3>
				<ul>
					<li>
						<strong>Download entire collection</strong>
						<p>Downloading whole colections is now possible from the history interface.
							<a target="_blank" href="https://github.com/galaxyproject/galaxy/pull/4098">Pull Request 4098</a>
							Thanks to
							<a target="_blank" href="https://github.com/mvdbeek">@mvdbeek</a>.</p>
					</li>

					<li>
						<strong>Switch tool versions in workflows</strong>
						<p>You can now select exactly what version of tool you want to use when building
							workflows.
							<a target="_blank" href="https://github.com/galaxyproject/galaxy/pull/4373">
								Pull Request 4373</a>
							Thanks to
							<a target="_blank" href="https://github.com/mvdbeek">@mvdbeek</a>.</p>
					</li>
				</ul>

				<h3>
					<a target="_blank" href="http://multiqc.info/">MultiQC: Aggegate results into a single reportC</a>
				</h3>
				<p>
					MultiQC is a tool that aggregates results from bioinformatics analyses across
					many samples into a single HTML report. It's a general use tool, perfect for
					summarising the output from numerous bioinformatics tools.</p>

				<h3>
					<a target="_blank" href="https://vanopijnenlab.github.io/MAGenTA/">MAGenTA: Microbial Assessment by Genome-wide Tn-Seq Analysis</a>
				</h3>
				<p>
					MAGenTA is suite of tools for Transposon-Sequencing (Tn-Seq) data analysis.
					Tn-Seq combines transposon insertional mutagenesis with high-throughput
					sequencing of the transposon insertion sites to identify genes contributing to a
					function of interest in bacteria.</p>

				<h3>
					<a target="_blank" href="https://ccb.jhu.edu/software/FLASH/">FLASH (Fast Length Adjustment of SHort reads)</a>
				</h3>
				<p>
					FLASH is a very fast and accurate software tool to merge paired-end reads from
					next-generation sequencing experiments. FLASH is designed to merge pairs of
					reads when the original DNA fragments are shorter than twice the length of
					reads. The resulting longer reads can significantly improve genome assemblies.
					They can also improve transcriptome assembly when FLASH is used to merge RNA-seq
					data.</p>
			</div>

			<div class="errormessagelarge section" id="diskspace-notice">
				<h2>Disk Space is Limited</h2>
				<h3>Please delete datasets you no longer need to make room for others</h3>
				<p>By viewing your list of saved histories, you can see how much space each is
					taking up. Please delete any histories that you no longer need. Your cooperation
					is appreciated.
				</p>
				<h3>Data stored for more than 30 days may be deleted without notice.</h3>
			</div>

			<div class="warningmessagelarge section" id="maintenance-notice">
				<h2>Scheduled Maintenance</h2>
				<p>The Galaxy system will undergo scheduled maintenance on the first Monday of
					each month from 9am-12pm.</p>
			</div>

			<hr/>
			<p>The local instance of Galaxy at Princeton is funded in part by the
				<a
					target="_blank"
					href="http://www.nigms.nih.gov/News/Results/quantitative_bio_center.htm">
					National Institute of General Medical Sciences (NIGMS)</a>
				[
				<a target="_blank" href="http://www.nih.gov/">NIH</a>
				grant P50 GM071508].</p>
			<p>
				<a target="_blank" href="http://htseq.princeton.edu">HTSEQ</a>
				and this local Galaxy instance are projects within the
				<a target="_blank" href="http://www.genomics.princeton.edu">Lewis-Sigler Institute for Integrative Genomics</a>
				of
				<a target="_blank" href="http://www.princeton.edu/">Princeton University</a>.</p>
			<p>The Galaxy project is supported in part by
				<a target="_blank" class="reference" href="http://www.nsf.gov">NSF</a>,
				<a target="_blank" class="reference" href="http://www.genome.gov">NHGRI</a>, and
				<a target="_blank" class="reference" href="http://www.huck.psu.edu">the Huck Institutes of the Life Sciences</a>.</p>
		</div>
	</body>

</html>