# Set GALAXY_RUN_ALL to start all web and handler processes defined
export GALAXY_RUN_ALL=1

# Set Python Egg Cache directory to one writable by the cluster nodes
export PYTHON_EGG_CACHE=/tmp/.python-eggs

# Don't use /tmp on cluster (not very large)
export TMPDIR="{{ tmp_dir }}";

# Python Requests Module doesn't seem to use system certs by default
export REQUESTS_CA_BUNDLE=/etc/pki/tls/certs/ca-bundle.crt

# Set DRMAA Library Path for Galaxy
export DRMAA_LIBRARY_PATH=/usr/local/lib/libdrmaa.so

#export PATH="/usr/local/bin:${PATH}"
