uwsgi:

  # required in order to start the galaxy application  
  module: galaxy.webapps.reports.buildapp:uwsgi_app()
  virtualenv: {{ galaxy_venv_dir }}
  pythonpath: lib
 
   # listening options
  http: 127.0.0.1:9000
  http-raw-body: True

  # performance options 
  master: true
  enable-threads: true
  processes: 1
  threads: 4
  offload-threads: 2

reports:
  log_level: {{ log_level }}
  database_connection: postgres://{{ database_user }}:{{ database_password }}@{{ database_location }}:{{ database_port }}/galaxy

  file_path: {{ file_path }}
  new_file_path: {{ new_file_path }}
  
  smtp_server: gsmtp.princeton.edu
  error_email_to: biocomp@princeton.edu