#!/usr/bin/env bash

psql -U galaxy -p {{ database_port }} -c "select email from galaxy_user where deleted = 'f';" -t | grep -v "igv_display\|ucsc_browser_display@example.org\|remote_display_server@princeton.edu"
